$color-primary: rgb(64, 89, 158);
$color-secondary: rgb(53, 50, 50);

$font-menu: 'IBM Plex Mono' ;
$font-titulo: 'IBM Plex Sans' ;
$font-texto: 'IBM Plex Mono' ;
$font-boton: 'IBM Plex Mono-Medium';
$font-temas:  'IBMPlexSans-SemiBold' ;

$font-color: #060A24;



